// #brand
// Source palette: https://paletton.com/#uid=53W0u0kmE-QcFPDicHwrqvxuNpH
$blurple: #4954bc;
$blurpleLightest: #959de3;
$blurpleLight: #6973cf;
$blurpleDark: #2d39ad;
$blurpleDarkest: #18238d;

$teal: #3a87b0;
$tealLightest: #8bc1de;
$tealLight: #5ba1c6;
$tealDark: #1e72a0;
$tealDarkest: #0b5982;

$purple: #7043ba;
$purpleLightest: #b091e2;
$purpleLight: #8c64cd;
$purpleDark: #5826ab;
$purpleDarkest: #40128b;

// https://paletton.com/#uid=53N0u0kQr-pqKNmE3P9R4qPRUkE
$blue: #0736b7;
$blueLightest: #3864db;
$blueLight: #1249e0;
$blueDark: #052a90;
$blueDarkest: #03206f;

// gradient colors from our icons
$gradientBlue: #1a6dff;
$gradientPurple: #6e49ff;
$gradientMagenta: #c523ff;

// Other :)
$errorRed: #ff4336;

$backgroundDark: #1a151e;
$warningRed: #b00505;
$warningRedHover: #910404;

:export {
  blurple: $blurple;
  blurpleLightest: $blurpleLightest;
  blurpleLight: $blurpleLight;
  blurpleDark: $blurpleDark;
  blurpleDarkest: $blurpleDarkest;

  teal: $teal;
  tealLightest: $tealLightest;
  tealLight: $tealLight;
  tealDark: $tealDark;
  tealDarkest: $tealDarkest;

  purple: $purple;
  purpleLightest: $purpleLightest;
  purpleLight: $purpleLight;
  purpleDark: $purpleDark;
  purpleDarkest: $purpleDarkest;

  blue: $blue;
  blueLightest: $blueLightest;
  blurpleLight: $blurpleLight;
  blueDark: $blueDark;
  blueDarkest: $blueDarkest;

  gradientBlue: $gradientBlue;
  gradientPurple: $gradientPurple;
  gradientMagenta: $gradientMagenta;

  errorRed: $errorRed;
}
