.tryMeRow {
  max-width: 1280px;
  height: 600px;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  align-items: center !important;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .tryMeRow {
    height: unset;
  }
}
